VITE_SUPABASE_URL=https://frlzcwsjiirgwqzwycfy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZybHpjd3NqaWlyZ3dxend5Y2Z5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyMDg2MzMsImV4cCI6MjEwMjc4NDYzM30.q2yQQr85Gi_Adh2UAKic5cTpYVLDE4gsOQwKTryNgG4
